## Maven
/target/

## IDEs & Editors
/.idea/
*.iml
.vscode/

## OS Files
.DS_Store
Thumbs.db

/allure-results/

## Logs
*.log

## Docker
**/docker-compose.override.yml
    # if you generate overrides locally

